*,
::after,
::before {
  box-sizing: border-box;
}
address,
article,
aside,
div,
footer,
header,
main,
nav,
section {
  display: block;
}
header {
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
footer {
  padding: 3rem 0;
}
h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
  letter-spacing: -0.05rem;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.75rem;
}
.brand {
  height: 3.7rem;
  width: fit-content;
  /* display: inline-block; */
  /* position: relative; */
}
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
p.lead {
  margin: 1.5rem 0;
}
svg {
  height: 100%;
  width: 100px;
}
.lgrad_blue {
  fill: url(#lgrad_blue);
}
.fill_green {
  fill: #3a9948;
}
svg.dark {
  background-color: gray;
}
svg.dark .lgrad_blue,
svg.dark .fill_green {
  fill: antiquewhite;
}
#phrase {
  display: unset;
}
#sn-icons svg {
  height: 24px;
  width: 24px;
}
#sn-icons svg path {
  fill: gray;
}
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
}
#advertisment {
  padding: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
#searchAddr {
  background-image: url(../../assets/img/banner.svg);
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
#searchAddr .container {
  padding: 3rem 0;
}
#instituteAFA {
  background: linear-gradient(135deg, #1b439a 0%, #0474a5 100%);
}
#publiMessages .container {
  padding: 3rem 0;
}
.divider {
  margin: 5rem 0;
}
.featurette h2 {
  margin-top: 5rem;
}
.hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.clear {
  clear: both;
}
.onefourth,
.onethird,
.half,
.twothirds {
  flex: 0 0 auto;
  float: left;
}
/* media queries */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .onefifth {
    width: 20%;
  }
  .twofifths {
    width: 40%;
  }
  .onefourth {
    width: 25%;
  }
  .onethird {
    width: 33%;
  }
  .half {
    width: 50%;
  }
  .twothirds {
    width: 66%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
