.brand {
  height: 3.7rem;
  width: fit-content;
  /* display: inline-block; */
  /* position: relative; */
}
svg {
  height: 100%;
  width: 100px;
}
.lgrad_blue {
  fill: url(#lgrad_blue);
}
.fill_green {
  fill: #3a9948;
}
svg.dark {
  background-color: gray;
}
svg.dark .lgrad_blue,
svg.dark .fill_green {
  fill: antiquewhite;
}
#phrase {
  display: unset;
}
#sn-icons svg {
  height: 24px;
  width: 24px;
}
#sn-icons svg path {
  fill: gray;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
}

#searchAddr {
  background-image: url(../../assets/img/banner.svg);
  position: relative;
  margin-bottom: 2rem;
}
#instituteAFA {
  background: linear-gradient(135deg, #1b439a 0%, #0474a5 100%);
}
.featurette-divider {
  margin: 5rem 0;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
  margin-top: 5rem;
  font-size: 3rem;
}
